.sHeader1{
    color: #9E9E9E;
    Font: bold 14pt Segoe UI;
    border: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-align: center;
}
.sHeader2{
    color: #607D8B;
    Font: bold 12pt Segoe UI;
    border: 0px;
    text-align: center;
}
.sBody{
    color: #607D8B;
    Font: bold 12pt Segoe UI;
    border: 0px;
    text-align: center;
}
.sFooter2{
    color:#9E9E9E;
    Font:9pt Segoe UI;
    border:0px;
    border-top-width:1px;
}

.input-mesano-monthpicker {

    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #060606;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}